
@{
    ViewBag.Title = "Doctors";
}
@section cssScripts{
    <link href="@Url.Content("~/Content/adminsNavbar.css")" type="text/css" rel="stylesheet" />
}
<div class="container mt-4">
    <div class="row">
        <div class="section-header col-md-12">
            <h1 class="mb-0">Doctors</h1>
        </div>
    </div>
</div>


<main id="main" class="col-8 offset-2 mt-5">
    <div class="page-header">
        <h1>
            Doctors
        </h1>
    </div>
    <div>
        <table class="table mt-4 table-responsive" id="doctorsList">
            <thead>
                <tr>
                    <th scope="col">UserId</th>
                    <th scope="col">img</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Specialty</th>
                    <th scope="col">Adrress</th>
                    <th scope="col">Doctor Plan</th>
                    <th scope="col">AMKA</th>
                    <th scope="col">Telephon</th>
                    <th scope="col">Paypal Account</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</main>


@section scripts{
@Scripts.Render("~/bundles/jqueryval")
<script>


    $(document).ready(function () {
        function listdoctors() {
            $.ajax({
                dataType: 'json',
                type: 'get',
                url: '/api/Admin/Doctors',
                success: function (data) {
                    $('#doctorsList tbody').empty();
                    data.forEach(function (doctor) {
                        $('#doctorsList tbody').append('<tr><td>' + doctor.User.Id
                            + '</td><img src="@Url.Content("~/Content/img/Doctors/")' + doctor.User.Id + '/' + doctor.User.ProfilePicture + '" alt="' + doctor.User.ProfilePicture + '"><td>'
                            + '</td><td>' + doctor.User.FirstName
                            + '</td><td>' + doctor.User.LastName
                            + '</td><td>' + doctor.MedicalSpecialty
                            + '</td><td>' + doctor.OfficeAddress
                            + '</td><td>' + doctor.DoctorPlan
                            + '</td><td>' + doctor.User.AMKA
                            + '</td><td>' + doctor.User.Telephon
                            + '</td><td>' + doctor.User.PaypalAccount
                            + '</td>' + '<td><button class="btn btn-danger deleteBtn" data-id="' + doctor.User.Id + '">Delete</button>' +
                            '<button class="btn btn-warning updateBtn" data-id="' + doctor.UserId + '" >Update</button></td>' + '</tr>')
                    });
                    listdoctors();
                },
                error: function (error) {
                    console.log(error)
                }
            })
        }
    })


</script>
}

