@{
    ViewBag.Title = "Doctors";
}
@section cssScripts{
    <link href="@Url.Content("~/Content/adminsNavbar.css")" type="text/css" rel="stylesheet" />
}
<div class="container mt-4">
    <div class="row">
        <div class="section-header col-md-12">
            <h1 class="mb-0">Insureds</h1>
        </div>
    </div>
</div>


<main id="main" class="col-8 offset-2 mt-5">
    <div class="page-header">
        <h1>
            Insureds
        </h1>
    </div>
    <div>
        <table class="table mt-4 table-responsive" id="insuredsList">
            <thead>
                <tr>
                    <th scope="col">UserId</th>
                    <th scope="col">img</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Adrress</th>
                    <th scope="col">Insured Plan</th>
                    <th scope="col">AMKA</th>
                    <th scope="col">Telephon</th>
                    <th scope="col">Paypal Account</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</main>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>


    $(document).ready(function () {
        function listinsureds() {
            $.ajax({
                dataType: 'json',
                type: 'get',
                url: '/api/Admin/Insureds',
                success: function (data) {
                    $('#insuredsList tbody').empty();
                    data.forEach(function (insured) {
                        $('#doctorslist tbody').append('<tr><td>' + insured.UserId
                            + '</td><img src="@Url.Content("~/Content/img/Insureds/")' + insured.User.Id + '/' + insured.User.ProfilePicture + '" alt="' + insured.User.ProfilePicture + '"><td>'
                            + '</td><td>' + insured.FirstName
                            + '</td><td>' + insured.LastName
                            + '</td><td>' + insured.HomeAddress
                            + '</td><td>' + insured.InsuredPlan
                            + '</td><td>' + insured.AMKA
                            + '</td><td>' + insured.Telephon
                            + '</td><td>' + doctor.PaypalAccount
                            + '</td>' + '<td><button class="btn btn-danger deleteBtn" data-id="' + insured.UserId + '">Delete</button>' +
                            '<button class="btn btn-warning updateBtn" data-id="' + insured.UserId + '" >Update</button></td>' + '</tr>')
                    });
                    listinsureds();
                },
                error: function (error) {
                    console.log(error)
                }
            })
        }
    })


    </script>
}


