@{
    ViewBag.Title = "Insureds";
}
@section cssScripts{
    <link href="@Url.Content("~/Content/TestPlaton.css")" type="text/css" rel="stylesheet" />
    <style>
        body {
            width: 146vw;
        }
    </style>
}

<main id="main" class="offset-2 mt-5">
    <div class="page-header">
        <h1>
            Insureds
        </h1>
    </div>
    <div class="">
        <table class="table mt-4" id="insuredsList">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Adrress</th>
                    <th scope="col">Insured Plan</th>
                    <th scope="col">AMKA</th>
                    <th scope="col">Telephon</th>
                    <th scope="col">Paypal Account</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</main>


@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(document).ready(function () {
        ListInsureds('', '');
        var counter = 0;
        function ListInsureds(firstName, lastName) {
            $.ajax({
                dataType: 'json',
                type: 'get',
                url: '/api/Search/SearchInsuredResults?insuredsFirstName=' + firstName + '&insuredsLastName=' + lastName ,
                success: function (data) {
                    console.log(data);
                    console.log(data.length);
                    $('#insuredsList tbody').empty();
                    data.forEach(function (insured) {
                        console.log('counter= ' + ++counter);
                        $('#insuredsList tbody').append(
                              '<tr><td><img src="@Url.Content("~/Content/img/Insureds/")' + insured.User.Id + '/' + insured.User.ProfilePicture + '" alt="' + insured.User.ProfilePicture + '"' + 'class="rounded-circle">'
                            + '</td><td>' + insured.User.FirstName
                            + '</td><td>' + insured.User.LastName
                            + '</td><td>' + insured.HomeAddress
                            + ((insured.InsuredPlan == null) ? '</td><td>No Plan' : '</td><td>' + insured.InsuredPlan.Name)
                            + '</td><td>' + insured.User.AMKA
                            + '</td><td>' + insured.User.PhoneNumber
                            + '</td><td>' + insured.User.PaypalAccount
                            + '</td>'
                            + '<td><button class="btn btn-success table-button editBtn" data-id="' + insured.UserId + '" >Edit</button>'
                            + ((insured.User.IsActive == true) ? '<button class="btn btn-danger table-button setActiveBtn" data-id="' + insured.UserId + '">Deactivate</button>' : '<button class="btn btn-danger table-button setActiveBtn" data-id="' + insured.UserId + '">Activate</button>')
                            + '<button class="btn btn-primary table-button sentMessageBtn" data-id="' + insured.UserId + '" >Message</button>'
                            + '<button class= "btn btn-secondary table-button payBtn" data - id="' + insured.User.Id + '" >Pay</button></td>'                            
                            + '</tr>')
                    });
                    $('.editBtn').on('click', function (e) {
                        var grandParent = $(this).parent().parent();
                        var firstName = grandParent.children('td:nth-child(2)').html();
                        grandParent.children('td:nth-child(2)').html("");
                        grandParent.children('td:nth-child(2)').append('<input type="text" value="' + firstName + '">');
                        var lastName = grandParent.children('td:nth-child(3)').html();
                        grandParent.children('td:nth-child(3)').html("");
                        grandParent.children('td:nth-child(3)').append('<input type="text" value="' + lastName + '">');
                        var address = grandParent.children('td:nth-child(5)').html();
                        grandParent.children('td:nth-child(5)').html("");
                        grandParent.children('td:nth-child(5)').append('<input type="text" value="' + address + '">');
                        var amka = grandParent.children('td:nth-child(6)').html();
                        grandParent.children('td:nth-child(6)').html("");
                        grandParent.children('td:nth-child(6)').append('<input type="text" value="' + amka + '">');
                        var tel = grandParent.children('td:nth-child(7)').html();
                        grandParent.children('td:nth-child(7)').html("");
                        grandParent.children('td:nth-child(7)').append('<input type="text" value="' + tel + '">');
                        var paypalAccount = grandParent.children('td:nth-child(8)').html();
                        grandParent.children('td:nth-child(8)').html("");
                        grandParent.children('td:nth-child(8)').append('<input type="text" value="' + paypalAccount + '">');
                        var id = $(this).data('id');
                        grandParent.children('td:nth-child(9)').children().hide();
                        grandParent.children('td:nth-child(9)').append('<button class="btn btn-success updateBtn" data-id="' + id + '" >Update</button>');
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            })
        }
    })

    </script>
}
