@model GreekHealthcareNetwork.Models.SearchLoginViewModel
@{
    ViewBag.Title = "BoockAppointment";
}

<h2>BoockAppointment</h2>
<div>
    @{
        Html.RenderPartial("_DoctorsListPartial");
    }
</div>

