@model GreekHealthcareNetwork.Models.SearchLoginViewModel
@{
    ViewBag.Title = "BookAppointment";
}

<h2>Book Appointment</h2>
<div>
    @{
        Html.RenderPartial("_DoctorsListPartial");
    }
</div>

