@model GreekHealthcareNetwork.Models.SearchLoginViewModel

@{
    ViewBag.Title = "Doctors";
}

<div class="container mt-4">
    <div class="row">
        <div class="section-header col-md-12">
            <h1 class="mb-0">Meet Our Doctors!</h1>
        </div>
        @Html.Partial("_DoctorsListPartial")
    </div>
</div>

