<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            @*<a href="#home"><img src="img/logo.png" alt="GCN logo" title="" /></a>*@
            <h1><a href="#home">GCN</a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#home">Home</a></li>
                <li id="aboutLink"><a href="#about">About Us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#insurancePlans">Insurance Plans</a></li>
                <li><a href="#doctors">Doctors</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="#loginRegister">Login/Register</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->
