<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a href="#home"><img src="~/Content/img/GHN_Logo.png" alt="GHN logo" title="" /></a>
            @*<h1><a href="#home">GHN</a></h1>*@
        </div>

        <nav id="nav-menu-container" style="float:right">
            <ul class="nav-menu">
                <li id="homeLink" class="menu-active"><a href="#home">Home</a></li>
                <li id="aboutLink"><a href="#about">About Us</a></li>
                <li id="factsLink"><a href="#facts">Facts</a></li>
                <li id="plansLink"><a href="#insurancePlans">Insurance Plans</a></li>
                <li id="doctorsLink"><a href="#doctors">Doctors</a></li>
                <li id="contactLink"><a href="#contact">Contact Us</a></li>
                <li id="loginRegister"><a href="#" data-toggle="modal" data-target="#modalLRForm">Login/Register</a></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->
