@model GreekHealthcareNetwork.Models.SearchLoginViewModel
@{
    ViewBag.Title = "Appointments History";
}

@section cssScripts{
    <link href="@Url.Content("~/Content/TestPlaton.css")" type="text/css" rel="stylesheet" />
}

<main id="main" class="mt-4">
    <div class="col-9 offset-2">
        <div class="page-header">
            <h1>
                Appointments History
            </h1>
        </div>
        @Html.Partial("_SearchPartial")
        <!-- Appointments -->
        <div class="table-responsive">
            @Html.Partial("_AppointmentsList")
        </div>
    </div>
</main>