@model GreekHealthcareNetwork.Models.SearchLoginViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Appointments History";
    var CurrentUserId = User.Identity.GetUserId();
}

@section cssScripts{
<link href="@Url.Content("~/Content/TestPlaton.css")" type="text/css" rel="stylesheet" />
}

<main id="main">
    <div class="col-8 offset-2">
        <div class="page-header">
            <h1>
                Appointments History
            </h1>
        </div>
        @Html.Partial("_SearchPartial")
        <!-- Appointments -->
        <div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        @if (User.IsInRole("Doctor"))
                        { 
                        <th scope="col">Patient</th>
                        }
                        @*  @if (User.IsInRole("Insured")) { }  *@
                        <th scope="col">Doctor</th>
                        <th scope="col">Specialty</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="appointmentsList">

                </tbody>
            </table>
        </div>
    </div>
</main>

@section AppointmentScripts{
<script>
        $(document).ready(function () {
            function ListAppointments(firstName, lastName, specialty, appointmentDate, userId) {
                if (appointmentDate == "") {
                    appointmentDate = "0001-01-01";
                }
                $.ajax({
                    dataType: 'json',
                    type: 'get',
                    url: '/api/Search/InsuredAppointmentsSearchResults?doctorsFirstName=' + firstName +
                                                                        '&doctorsLastName=' + lastName +
                                                                        '&doctorsSpecialty=' + specialty +
                                                                        '&appointmentDay=' + appointmentDate +
                                                                        '&userId=' + userId,
                    success: function (data) {
                        $('#appointmentsList').empty();
                        console.log('St ep1');
                        console.log(data.length);
                        if (data.length == 0) {
                            $("#appointmentsList").append('<tr><td colspan="7">There are no appointments matching these criteria.</td></tr>');
                        }
                        else {
                            console.log('Step2')
                            console.log(data.length);
                            console.log(data)
                            data.forEach(function (appointment) {
                                console.log('Step3');
                                const appointmentStart = appointment.AppointmentStartTime.split(":");
                                const appointmentEnd = appointment.AppointmentEndTime.split(":");
                                const appointmentDate = appointment.AppointmentDate.split("T");
                                $('#appointmentsList').append('<tr><td>' +
                                    '<img src="@Url.Content("~/Content/img/Doctors/")' + appointment.Doctor.User.ProfilePicture + '" alt="' + appointment.Doctor.User.ProfilePicture + '"' + 'class="rounded-circle"></td>' +
                                    '<td>' + appointment.Doctor.User.FirstName + ' ' + appointment.Doctor.User.LastName + '</td>' +
                                    '<td>' + appointment.Doctor.MedicalSpecialty + '</td>' +
                                    '<td>' + appointmentDate[0] + '</td>' +
                                    '<td>' + appointmentStart[0] + ':' + appointmentStart[1] + '-' + appointmentEnd[0] + ':' + appointmentEnd[1] + '</td>' +
                                    '<td>' + appointment.AppointmentStatus + '</td>' +
                                    '<td><button class="btn btn-light">View</button><button class="btn btn-danger">Cancel</button></td></tr>');
                            });
                        }
                        fixFooterPosition(data.length);
                    },
                    error: function (error) {
                        console.log(error);
                        $('#appointmentsList').empty();
                        $("#appointmentsList").append('<tr><td colspan="7"> Something went wrong. Please try again later. </td></tr>')
                    }
                })
            }
            console.log('@CurrentUserId');
            ListAppointments('', '', -1, '0001-01-01', '@CurrentUserId');
            $('#search').on('submit', function (e) {
                e.preventDefault();
                ListAppointments(e.target[0].value, e.target[1].value, e.target[2].value, e.target[3].value, '@CurrentUserId'); // <- na perasw edw to id tou user
            })
        })
</script>
    }


