@using Microsoft.AspNet.Identity;
@using GreekHealthcareNetwork.Models;
@using GreekHealthcareNetwork.Repositories;
@{
    ViewBag.Title = "Messages";
    var CurrentUserId = User.Identity.GetUserId();
    var Users = new UsersRepository();
}

@section cssScripts{
    <link href="@Url.Content("~/Content/messages.css")" type="text/css" rel="stylesheet" />
}

<main id="main">
    <div>
    </div>
    <div class="col-8 offset-2 mt-5">
        <div class="page-header">
            <h1>
                Messages
            </h1>
        </div>
        <!-- Appointments -->
        <div>
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">From</th>
                        <th scope="col">To</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody id="messageList">
                </tbody>
            </table>
        </div>
    </div>
</main>
<div class="container">
    <div class="row">
        <div class="col-md-3">@*des ta div*@
            <div class="modal fade" id="mymodal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3>Message For:</h3> @*mesa sto jq thelw selector gia na allaxv timh
                                                      an to message.SenderId einai iso me currentuserid
                                                      tha pairnei th timh message to:message.Recipient.Firstname k last name
                                                      alliew tha leei message from:message.semdrf.Firstname k lastname*@
                        </div>
                        <div class="modal-body">
                            <h4>Subject</h4>@*message.subject*@
                            <p>
                                The exams results will be avaialable from the next week
                                Please contact me. @*message.messagetext*@
                            </p>
                            <form id="updateeventsform2" class="form-horizontal">
                                <div class="form-group">
                                    <textarea class="form-control" id='areaforinfo' style="min-width: 100%"></textarea>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Reply</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script> 
        $(document).ready(function () {
            function listMessages(UserId) {             
                $.ajax({
                    dataType: 'json',
                    type: 'get',
                    url: '/api/Messages?&UserId=' + UserId,                                     
                    success: function (data) {
                         $('#messageList').empty();
                        if (data.length == 0) {
                            $("#messageList").append('<tr><td colspan="7">You have no messages yet.</td></tr>');
                        }
                        else {
                            data.forEach(function (message) {
                                    const tr = $(document.createElement('tr'));
                                    const userImage = $(document.createElement('td'));
                                    const image = $(document.createElement('img'));
                                    @{ 
                                        string insuredRoleId = Users.GetRoleIdByName("Insured");
                                        string doctorRoleId = Users.GetRoleIdByName("Doctor");
                                        string adminRoleId = Users.GetRoleIdByName("Administrator");

                                    }
                                    if (message.Sender.Roles[0].RoleId == '@insuredRoleId') {
                                        $(image).attr('src', '@Url.Content("~/Content/img/Insureds/")' + message.Sender.Id + '/' + message.Sender.ProfilePicture);
                                    }
                                    else if (message.Sender.Roles[0].RoleId == '@doctorRoleId') {
                                        $(image).attr('src', '@Url.Content("~/Content/img/Doctors/")' + message.Sender.Id + '/' + message.Sender.ProfilePicture);
                                    }
                                    else {
                                        $(image).attr('src', '@Url.Content("~/Content/img/Admins/")' + message.Sender.Id + '/' + message.Sender.ProfilePicture);
                                    }
                                    $(image).attr('class', 'rounded-circle')
                                    $(userImage).append(image);
                                    $(tr).append(userImage);
                                    const from = $(document.createElement('td'));
                                    $(from).text(message.Sender.FirstName + ' ' + message.Sender.LastName);
                                    $(tr).append(from);
                                    const to = $(document.createElement('td'));
                                    $(to).text(message.Recipient.FirstName + ' ' + message.Recipient.LastName);
                                    const status = $(document.createElement('td'));
                                    $(tr).append(to);

                                    if (message.Sender.Id == UserId) {
                                        $(status).text('Sent');
                                    }
                                    else {
                                        $(status).text('Received');
                                        if (message.MessageStatus == "Unread") {
                                            $(tr).attr('class', 'font-weight-bold')

                                        }
                                        else if (message.MessageStatus == "Replied") {
                                            $(tr).attr('class', 'text-success font-italic')
                                        }
                                    }
                                    $(tr).append(status);
                                    const date = $(document.createElement('td'));
                                    const datePart = message.SentDate.split('T')[0];
                                    const datePartSplitted = datePart.split('-');
                                    $(date).text(datePartSplitted[2] + '-' + datePartSplitted[1] + '-' +datePartSplitted[0]);
                                    $(tr).append(date);
                                    const time = $(document.createElement('td'));
                                    $(time).text(message.SentTime.split(':')[0] + ':' + message.SentTime.split(':')[1]);
                                    $(tr).append(time);
                                    const action = $(document.createElement('td'));
                                    const view = $(document.createElement('button'));
                                    $(view).text('View');
                                $(view).addClass('btn btn-light viewBtn');
                                $(view).attr('data-id', message.Id);

                                    $(action).append(view);
                                
                                    $(tr).append(action);
                                    $('#messageList').append(tr);
                                

                            }); 
                            $('.viewBtn').click(function (e) {
                                //h parametros pou tha tou dwsw thelei data-it
                            });
                        }
                    },
                    error: function (error) {
                        console.log(error);
                        $('#messageList').empty();
                        $("#messageList").append('<tr><td colspan="7"> Something went wrong. Please try again later. </td></tr>')

                    }
                
                })
            }
            listMessages('@CurrentUserId');
        })
    </script>
    
}

