@{
    ViewBag.Title = "Messages";
}

@section cssScripts{
    <link href="@Url.Content("~/Content/TestPlaton.css")" type="text/css" rel="stylesheet" />
}

<main id="main">
    <div>
    </div>
    <div class="col-8 offset-2 mt-5">
        <div class="page-header">
            <h1>
                Messages
            </h1>
        </div>
        <!-- Appointments -->
        <div>
            <table class="table mt-4">
                <thead>
                <th scope="col"></th>
                <th scope="col">From/To</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Actions</th>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="https://via.placeholder.com/20" class="rounded-circle w-100 h-100" alt=""></td>
                        <td>Michael Johanson</td>
                        <td>Received</td>
                        <td>12/12/2019</td>
                        <td>10:00 - 10:30</td>
                        <td>
                            <button class="btn btn-light">View</button>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="https://via.placeholder.com/20" class="rounded-circle w-100 h-100" alt=""></td>
                        <td>Michael Johanson</td>
                        <td>Sent</td>
                        <td>12/12/2019</td>
                        <td>10:00 - 10:30</td>
                        <td>
                            <button class="btn btn-light">View</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    </div>
</main>


