
@{
    ViewBag.Title = "Profile";
}

@section cssScripts{
    <link href="@Url.Content("~/Content/TestPlaton.css")" type="text/css" rel="stylesheet" />
}

<main id="main">
    <div>
        <div class="col-md-5 offset-md-4">
            <div class="page-header">
                <h1>Profile</h1>
            </div>
            <div class="row" id="profileSection">
                <div class="col-md-4">
                    <img src="https://via.placeholder.com/50" class="rounded-circle w-100 h-100" alt="">
                </div>
                <div class="col-md-8 align-self-center">
                    <h4>Golden Member</h4>
                    <p>Exp: 12/12/2020</p>
                    <button type="button" class="btn btn-info">Renew</button>
                </div>
            </div>
            <div>
                <table class="table table-borderless mt-5">
                    <tbody>
                        <tr>
                            <th>Name:</th>
                            <td>
                                John
                                <a href="#">
                                    <i class="far fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>Last Name:</th>
                            <td>Smith</td>
                        </tr>
                        <tr>
                            <th>Date of birth:</th>
                            <td>28/10/1987</td>
                        </tr>
                        <tr>
                            <th>AMKA:</th>
                            <td>12345678901</td>
                        </tr>
                        <tr>
                            <th>Address:</th>
                            <td>5th Klm Marathonos Av.</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>johnsmith@mail.com</td>
                        </tr>
                        <tr>
                            <th>Tel :</th>
                            <td>+30 123455678</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>


