#headerInsured {
    background: rgba(52, 59, 64, 0.9);
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

#headerInsured #logo h1 {
    font-size: 36px;
    margin: 0;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#headerInsured #logo h1 a,
#headerInsured #logo h1 a:hover {
    color: #fff;
}

#headerInsured #logo img {
    padding: 0;
    margin: 0;
}

#headerInsured.header-fixed {
    padding: 5px 0;
    transition: all 0.5s;
}

#headerInsured.header-top {
    background: rgba(52, 59, 64, 0);
}
